<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Setup Size</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="Size Name" />
          <input type="text" nbInput fullWidth placeholder="Size Description" />
          <nb-checkbox>Active</nb-checkbox>
          <button type="submit" nbButton status="primary">Create</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card size="medium">
    <nb-card-header>
      <span>Sizes Data</span>
    </nb-card-header>
  
    <nb-list class="user-activity-list">
        <nb-list-item>
            <div class="visited-date"><b style="font-weight: 700">Name</b></div>
      
            <div class="visited-pages-count">
              <b style="font-weight: 700">Description</b>
            </div>
      
            <div class="visited-percentages">
              <b style="font-weight: 700">Active</b>
            </div>
          </nb-list-item>
    </nb-list>
  </nb-card>
  
