.welcome-page {
  background-color: #151a30;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 0 1.25rem;
  font-size: 7.75rem;
  white-space: nowrap;
  text-decoration: none;
  color: white;
  margin: auto;
  text-align: center;
}
