<nb-card>
  <nb-card-header>Stock In Form</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="articleNo" class="label">First Name</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="articleNo"
            placeholder="Article No."
          />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="description" class="label">Description</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="description"
            placeholder="Description"
          />
        </div>
      </div>

      <div class="dropdown col-lg-4">
        <div class="form-group">
          <label class="label col-12">Unit of Measurement</label>
          <nb-select placeholder="Select UOM" class="col-12 p-0">
            <nb-option value="PCS">PCs</nb-option>
            <nb-option value="Carton">Carton</nb-option>
          </nb-select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="dropdown col-lg-4">
        <div class="form-group">
          <label class="label col-12">Location</label>
          <nb-select placeholder="Select Location" class="col-12 p-0">
            <nb-option value="tariqRoad">Tariq Road</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="dropdown col-lg-4">
        <div class="form-group">
          <label class="label col-12">Size</label>
          <nb-select placeholder="Select Size" class="col-12 p-0">
            <nb-option value="22-25">22"-25"</nb-option>
          </nb-select>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="purchaseRate" class="label">Purchase Rate</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="purchaseRate"
            placeholder="Purchase Rate"
          />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="saleRate" class="label">Sale Rate</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="saleRate"
            placeholder="Sale Rate"
          />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="description" class="label">Purchase Rate</label>
          <input
            type="text"
            nbInput
            fullWidth
            id="description"
            placeholder="Description"
          />
        </div>
      </div>

      <div class="col-lg-4">
        <div class="form-group">
          <label for="saleRate" class="label">Stock Received Date</label>
          <input
            nbInput
            placeholder="Stock Received Date"
            class="col-12"
            [nbDatepicker]="formpicker"
          />
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-4">
        <div class="form-group">
          <label for="saleRate" class="label">Stock Received Date</label>
          <input
            nbInput
            placeholder="Stock Received Date"
            class="col-12"
            [nbDatepicker]="formpicker"
          />
          <nb-datepicker #formpicker></nb-datepicker>
        </div>
      </div>
    </div> -->

    <button type="submit" status="primary" class="float-right" nbButton>
      Submit
    </button>
  </nb-card-body>
</nb-card>

<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Add Stock</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <!-- <input type="text" nbInput fullWidth placeholder="Color Name" /> -->
          <input
            type="text"
            nbInput
            fullWidth
            placeholder="Color Article No."
          />
          <div class="dropdown col-lg-4">
            <div class="form-group">
              <nb-select placeholder="Select Color" class="col-12 p-0">
                <nb-option value="RED">Red</nb-option>
                <nb-option value="BLUE">Blue</nb-option>
                <nb-option value="PINK">Pink</nb-option>
                <nb-option value="GREEN">Green</nb-option>
                <nb-option value="WHITE">White</nb-option>
                <nb-option value="BLACK">Black</nb-option>
              </nb-select>
            </div>
          </div>
          <input type="text" nbInput fullWidth placeholder="Qty" />
          <button type="submit" nbButton status="primary">Add</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<nb-card size="medium">
  <nb-card-header>
    <span>Colors Wise Stock Quantity</span>
  </nb-card-header>

  <nb-list class="user-activity-list">
    <nb-list-item>
      <div class="visited-date">
        <b style="font-weight: 700">Color Article</b>
      </div>

      <div class="visited-pages-count">
        <b style="font-weight: 700">Color</b>
      </div>

      <div class="visited-percentages">
        <b style="font-weight: 700">Qty</b>
      </div>

      <div class="visited-percentages">
        <b style="font-weight: 700">Rate</b>
      </div>
    </nb-list-item>

    <nb-list-item>
      <div class="visited-date">Q12WEQ-RED</div>

      <div class="visited-pages-count">Red</div>

      <div class="visited-percentages">
        <button nbButton status="success" size="small" outline>50/100</button>
      </div>

      <div class="visited-pages-count">100</div>
    </nb-list-item>
  </nb-list>
</nb-card>
