nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
nb-select.col-12.p-0.appearance-outline.size-medium.status-basic.shape-rectangle.nb-transition {
  max-width: none;
}
input.col-12.size-medium.status-basic.shape-rectangle.nb-transition {
  max-width: none;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline [fullWidth] {
  flex: 1;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
@import "../../../@theme/styles/themes";

@include nb-install-component() {
  nb-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding-top: nb-theme(card-header-with-select-padding-top);
    padding-bottom: nb-theme(card-header-with-select-padding-bottom);
  }

  nb-list {
    overflow-x: hidden;
  }

  nb-list-item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 -0.25rem;
  }

  .visited-date,
  .visited-pages-count,
  .visited-percentages {
    flex: 1 0 auto;
    margin: 0 0.25rem;
    width: 33%;
    text-align: center;
  }

  .value {
    margin-top: 0.25rem;
    color: nb-theme(color-success-default);
  }

  .delta {
    display: flex;
    align-items: center;
    position: relative;

    &.down {
      color: nb-theme(color-danger-default);
    }

    &.up {
      color: nb-theme(color-success-default);
    }

    nb-icon ::ng-deep svg {
      vertical-align: top;
    }
  }
}
.nb-theme-dark nb-card.size-medium {
  /* height: 28.875rem; */
}
